.call-button{
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.call-button:hover{
    background: #0056b3;
}
.call-button:disabled{
    background: #ccc;
    cursor: not-allowed;
}

.note{
    font-size: 14px;
    color: #888;
    margin-top: 20px;
}