.room{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    object-fit: cover;
    width: 100px;
    height: 100%;
}